<!-- These are our grid blocks -->
         <% @photos.each do |photo| %>
       

        <li data-src="<%= photo.image_url.to_s %>"  >
        <a href=""><%= image_tag photo.image_url.to_s %></a>
        <p><%= photo.title %> <span><%= link_to image_tag("view-icon.png" , :title => "view" ),photo_path(photo),:class=>"dntshow" %><a href="" class="dntshow"><%= image_tag("like.png" , :title => "like") %></a><%= link_to image_tag("comment.png" , :title => "comment"),photo_path(photo),:class=>"dntshow" %><a href="" class="dntshow"><%= image_tag("priview.png" , :title => "preview") %></a></span></p></li>


        <%end%>
            </div>
   </div>

  
        <!-- End of grid blocks -->
    


<script type="text/javascript">
          $(document).ready(function() {
            $(".lightGallery").lightGallery(); 

          });
</script>





