<!-- These are our grid blocks -->
         <% @photos.each do |photo| %>
       

        <li data-src="<%= photo.image_url.to_s %>"  >
        <a href=""><%= image_tag photo.image_url.to_s%></a>
        <p><span class="pull-left" style="margin-top:2px;"><%= photo.title%></span><span><a href="<%=photo_path(photo)%>" style="padding:4px;"><span class="glyphicon glyphicon-eye-open"></span></a><a href="<%=edit_photo_path(photo)%>" class="dntshow"><span class="glyphicon glyphicon-pencil"></span></a><a href="<%=photo_path(photo)%>" class="dntshow"><span class="glyphicon glyphicon-th-list"></span></a><a href="<%=photo_path(photo)%>" class="dntshow"><span class="glyphicon glyphicon-share"></span></a></span></p></li>


        <%end%>
            </div>
   </div>

  
        <!-- End of grid blocks -->
    


<script type="text/javascript">
          $(document).ready(function() {
            $(".lightGallery").lightGallery(); 

          });
</script>





